In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data_science_job.csv')

In [3]:
df.head()

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,NaN,NaN,36.0,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15.0,50-99,Pvt Ltd,47.0,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5.0,NaN,NaN,83.0,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,0.0,NaN,Pvt Ltd,52.0,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,20.0,50-99,Funded Startup,8.0,0.0

In [9]:
df.isna().sum()/df.shape[0]*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [10]:
df.isna().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

In [11]:
df.shape

(19158, 13)

In [15]:
cols = [var for var in df.columns if df[var].isna().mean() < 0.05 and df[var].isna().mean() > 0]
cols

['city_development_index',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours']

In [16]:
df[cols].sample(5)

,city_development_index,enrolled_university,education_level,experience,training_hours
18234,0.762,no_enrollment,Graduate,5.0,18.0
3168,0.727,Full time course,Primary School,7.0,22.0
11860,0.920,Full time course,Graduate,10.0,4.0
15382,0.840,no_enrollment,Graduate,20.0,47.0
13522,0.920,no_enrollment,Graduate,5.0,112.0

In [17]:
len(df[cols].dropna()) / len(df)

0.8968577095730244

In [18]:
new_df = df[cols].dropna()

In [19]:
df.shape,new_df.shape

((19158, 13), (17182, 5))

In [22]:
df_new = df.dropna(subset=cols)

In [24]:
df_new.shape

(17182, 13)